@import '../../styles';


.pokedex{
    margin: 40px;
    
}
.col-1{
    padding: 0 5px;
    padding-bottom: 10px;
    text-decoration: none; 
}

.pokemon__imgs-container{
    width: 100%;
    @include display(row,center,center);
    flex-flow: row wrap;
  }

  .module {
    @include display(column,center,center);
    width: 160px;
    height: 140px;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10%;
    box-shadow: 14px 12px 20px -16px rgba(72,71,71,0.53);

    &:hover{
        background-color: #EEE;
        cursor: pointer;
        color: #607d8b;
      }
    
    &:hover img{
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
      }
    
     img {
        max-width: 80px;
        max-height: 60px;
        margin: 10px 0 15px 0;
    }
  }

.title{
    font-family: $primary;
    @include font(40px, 500, black);
    margin: 20px 10px 20px 10px;
}

.pagination{
  margin-top: 20px;
}


/* pokemons-background-color*/
.bug{
    background: $bugColor;
  }
  .dark{
    background: $darkColor;
  }
  .dragon{
    background: $dragonColor;
  }
  
  .electric{
    background: $electricColor;
  }
  .fire{
    background: $fireColor;
  }
  .fairy{
    background: $fairyColor;
  }
  .flying{
    background: $flyingColor;
  }
  .ghost{
    background: $ghostColor;
  }
  .grass{
    background: $grassColor;
  }
  .ground{
    background: $groundColor;
  }
  .normal{
    background: $normalColor;
  }
  .poison{
    background: $poisonColor;
  }
  
  .psychic{
    background: $psychicColor;
  }
  .rock{
    background: $rockColor;
  }
  .steel{
    background: $steelColor;
  }
  .water{
    background: $waterColor;
  }
  .ice{
      background: $iceColor;
  }
  .fighting{
    background: rgb(255,0,24);
    background: linear-gradient(90deg, rgba(255,0,24,1) 35%, rgba(0,110,255,1) 100%);
  }

  @media (max-width: 1000px) {

    .pokemon__imgs-container{
      width: 100%;
      @include display(row,center,center);
      flex-flow: row wrap;
    }
    
    .pokedex{
      margin: 10px;
  }
  }
