@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
//fonts
$primary: 'Work Sans', sans-serif;
$second: 'Raleway', sans-serif;


// colors
$bugColor: #37612d;
$darkColor: #202020;
$dragonColor: #20415c;
$electricColor: #ffe14c;
$fireColor: #ff2a2abb;
$fairyColor: #ff7da8d5;
$flyingColor: #a9e4e0e8;
$ghostColor: #424242;
$grassColor:#6bfa29a1;
$groundColor: #ffa12598;
$normalColor: #b3b3b3;
$poisonColor: #ca4be4c0;
$psychicColor: #fa86b4de;
$rockColor:  #301700bb;
$steelColor: #95c2bf;
$waterColor: #239cff9c;
$iceColor: #83d9eee8;
$fightingColor: linear-gradient(to left, #e32c2cbd #1475cfbe);


//functions

@mixin display($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin font($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin button($color, $bg){
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: $color;
    background: $bg;
    text-align: center;
    cursor: pointer;
}



